{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [
      "off"
    ],
    "react/require-default-props": [
      "off"
    ],
    "react/jsx-one-expression-per-line": [
      "off"
    ]
  }
}
