.header {
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

.logo {
  font-family: 'Suez One', serif;
  color: var(--white);
  text-decoration: none;
  font-size: 2rem;
}