.content-wrapper {
  width: 100%;
  background-color: var(--black);
  padding-top: 3.125rem;
}

.content-container {
  max-width: var(--max-width);
  padding: var(--spacing-xs) var(--spacing-s);
  margin: 0 auto;
}

@media (min-width: 414px) {
  .content-container {
    padding: var(--spacing-xs) var(--spacing-m);
  }
}

@media (min-width: 810px) {
  .content-wrapper {
    padding-top: 4.125rem;
  }

  .content-container {
    padding: var(--spacing-s) var(--spacing-m);
  }
}
