:root {
  --black: #050505;
  --white: #fefefe;
  --light-gray: #D8D8D8;
  --gray: #7C7C7C;
  --dark-gray: #212121;
  --active-link: #95abd6;
  --divider: #979797;
  --transparent-black: rgba(5,5,5,0.9);
  --overlay: rgba(5,5,5,0.75);

  --max-width: 1215px;
  --max-text-width: 554px;

  --spacing-unit: 1rem;
  --spacing-xxxs: calc(0.125 * var(--spacing-unit)); /* 2px */
  --spacing-xxs: calc(0.25 * var(--spacing-unit)); /* 4px */
  --spacing-xs: calc(0.5 * var(--spacing-unit)); /* 8px */
  --spacing-s: calc(1 * var(--spacing-unit)); /* 16px */
  --spacing-m: calc(1.5 * var(--spacing-unit)); /* 24px */
  --spacing-l: calc(2 * var(--spacing-unit)); /* 32px */
  --spacing-xl: calc(3.5 * var(--spacing-unit)); /* 56px */
  --spacing-xxl: calc(5.5 * var(--spacing-unit)); /* 88px */

  --cubic-bezier: cubic-bezier(.29,-0.04,.25,1.05);

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;
  color: var(--light-gray);
  background-color: var(--black);
}